<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/styles.css" rel="stylesheet">
  <script src="/scripts/script.js" defer></script>
  <title>Qatar Museums</title>
</head>
<body>
  <header>
    <nav class="nav">
      <img class="nav__logo" src="images/logo.svg" alt="Logo of Qatar Museums">
      <div class="nav__buttons">
        <div class="nav__buttons--pc">
          <span class="nav__buttons--wrapper">
            <a class="arabic" href="#">قــصــصــنــا</a>
            <a class="" href="#">Stories</a>
          </span>
          <span class="nav__buttons--wrapper">
            <a class="arabic" href="#">الـفـعــالــيــات</a>
            <a class="" href="#">What's on</a>
          </span>
          <span class="nav__buttons--wrapper">
            <a class="arabic" href="#">زيـــارة</a>
            <a class="" href="#">Visit</a>
          </span>
        </div>
        <a class="nav__tickets" href="#">Tickets</a>
        <button class="nav__venues">
          <img src="images/venues.svg" alt="Location pin icon">
          <span>Venues</span>
        </button>
        <a class="nav__lang arabic" href="#">العربية</a>
        <button class="nav__hamburger--menu">
          <img src="images/hamburger.svg" alt="Hamburger menu icon">
          <span>Menu</span>
        </button>
      </div>
    </nav>
  </header>