<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>

  <main class="grid__container">
    <% artObjects.forEach((artObject) => { %>
      <div class="grid__item">
        <img src="https://fdnd-agency.directus.app/assets/<%= artObject.image %>" alt="<%= artObject.title %>">
      </div>
    <% }); %>
  </main>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>