/* ---------------- Root & Font ---------------- */

@font-face {
  font-family: "RobotoMedium";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansArabic";
  src: url("/fonts/NotoSansArabic.ttf") format("truetype");
}

:root {
  --primary-white: #fff;
  --primary-grey-light: #d4d4d4;
  --primary-grey-medium: #9c9c9c;
  --primary-grey-dark: #303030;
  --primary-black: #000;

  --secondary-blue: #7eaaf0;
  --secondary-red: #df4886;
  --secondary-yellow: #fcfe58;
  --secondary-orange: #fcbf45;
}

/* ---------------- Elements ---------------- */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'RobotoMedium';
}

ul, li, a, button {
  padding: 0;
  margin: 0;
  color: unset;
  text-decoration: none;

}

a, button {
  cursor: pointer;
}

a:hover, span:hover {
  text-decoration: underline;
}

.arabic {
  font-family: 'NotoSansArabic';
}

/* ---------------- Header ---------------- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0.4em;
  border-bottom: 1px solid var(--primary-black);
}

.nav__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.nav__logo {
  width: 14em;
}

.nav__venues {
  display: none;
}

.nav__lang {
  display: none;
}

.nav__buttons--pc {
  display: none;
}

.nav__tickets {
  background-color: var(--secondary-yellow);
  padding: 1em;
  border: 1px solid var(--primary-black);
  transition: background-color 0.3s ease;
}

.nav__tickets:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);
  text-decoration: none;
}

.nav__hamburger--menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;

  background-color: unset;
  border: none;
}

.nav__hamburger--menu span {
  display: none;
}

.nav__hamburger--menu img {
  width: 32px;
  height: 32px;
  padding: 0.6em;
  padding-right: 0.1em;
}

/* ---------------- Main ---------------- */

.grid__container {
  margin: 4em auto 0em auto;
  columns: 4;
  column-gap: 10px;
  min-height: 90vh;
}

.grid__item img {
  width: 100%;
  margin-bottom: 10px;
}

/* ---------------- Pagination ---------------- */



/* ---------------- Error handling ---------------- */

.error__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__container img {
  width: 10em;
}

.error__container a {
  margin-top: 2em;
  background-color: var(--secondary-yellow);
  padding: 1em;
  border: 1px solid var(--primary-black);
  transition: background-color 0.3s ease;
}

.error__container a:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);
  text-decoration: none;
}

.grid__container.no-results {
  columns: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  min-height: 90vh;
}

/* ---------------- Footer ---------------- */



/* ---------------- Media Queries ---------------- */

@media screen and (min-width: 768px) {
  .nav {
    padding: 0.4em 1em;
  }
  .nav__buttons {
    gap: 2em;
  }

  .nav__venues {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: unset;
    border: none;
  }

  .nav__venues img {
    width: 32px;
    height: 32px;
  }
  
  .nav__lang {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__hamburger--menu img {
    padding: 0
    ;
  }

  .nav__hamburger--menu span {
    display: block;
    font-weight: bold;
  }

  .error__container {
    font-size: 1.2em;
  }
  
  .error__container img {
    width: 16em;
  }
}

@media screen and (min-width: 1199px) {
  .nav__buttons--pc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .nav__buttons--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav__buttons--wrapper a {
    line-height: 1.2;
  }

  .grid__container {
    columns: 3;
  }
}

@media screen and (min-width: 1599px) {
  .grid__container {
    columns: 5;
  }
}

@media screen and (min-width: 1799px) {
  .grid__container {
    columns: 6;
  }
}